### Property analysis - Wolseley
#### JS Rutgers - June 23


As part of an analysis of boulevard garden access in Winnipeg's Wolseley neighbourhood, this notebook explores property types and median property values on a block-by-block level. This data will be used in conjuction with observed analysis of the number of "non-standard boulevards" (boulevard gardens) on that block. If time allows, the analysis will also incorporate an analysis of 311 calls and bylaw enforcements.  

##### Data source: [City of Winnipeg assessment parcels](https://data.winnipeg.ca/Assessment-Taxation-Corporate/Assessment-Parcels/d4mq-wa44/explore/query/SELECT%0A%20%20%60roll_number%60%2C%0A%20%20%60street_number%60%2C%0A%20%20%60unit_number%60%2C%0A%20%20%60street_name%60%2C%0A%20%20%60street_type%60%2C%0A%20%20%60full_address%60%2C%0A%20%20%60neighbourhood_area%60%2C%0A%20%20%60property_use_code%60%2C%0A%20%20%60zoning%60%2C%0A%20%20%60total_assessed_value%60%2C%0A%20%20%60assessment_date%60%2C%0A%20%20%60detail_url%60%2C%0A%20%20%60current_assessment_year%60%2C%0A%20%20%60status_1%60%2C%0A%20%20%60geometry%60%2C%0A%20%20%60centroid_lat%60%2C%0A%20%20%60centroid_lon%60%0AWHERE%0A%20%20caseless_eq%28%60neighbourhood_area%60%2C%20%22WOLSELEY%22%29%0A%20%20AND%20caseless_ne%28%60neighbourhood_area%60%2C%20%22WEST%20WOLSELEY%22%29/page/filter)

This data was filtered to only include values for the Neighbourhood Area: Wolseley.

In [1]:
import pandas as pd
import numpy as np

In [184]:
df = pd.read_csv("Assessment_Parcels_20250623.csv")

In [185]:
df.head(10)

,Roll Number,Street Number,Unit Number,Street Name,Street Type,Full Address,Neighbourhood Area,Property Use Code,Zoning,Total Assessed Value,Assessment Date,Detail URL,Current Assessment Year,Status 1,Geometry,Centroid Lat,Centroid Lon
0,12080201000,1430.0,NaN,PORTAGE,AVENUE,1430 PORTAGE AVENUE,WOLSELEY,PIRPK - PARK WITH BUILDING,PR1 - PRKS&REC-PASSIVE,3130000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19095901066672 49.87922629...,49.879843,-97.192867
1,12080240200,1420.0,NaN,PORTAGE,AVENUE,1420 PORTAGE AVENUE,WOLSELEY,PIICH - CHURCH,R2 - RES - TWO FAMILY,3144000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/asmtpub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19158825669882 49.88158128...,49.881477,-97.191951
2,12080250500,NaN,NaN,RAGLAN,ROAD,RAGLAN ROAD,WOLSELEY,VRES1 - VACANT RESIDENTIAL 1,R2 - RES - TWO FAMILY,518000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19107262988514 49.88077998...,49.880161,-97.191705
3,12080260000,542.0,NaN,RAGLAN,ROAD,542 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,305000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881459,-97.191275
4,12080261000,538.0,NaN,RAGLAN,ROAD,538 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,364000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881322,-97.191286
5,12080262000,528.0,NaN,RAGLAN,ROAD,528 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,386000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19104728492096 49.88110837...,49.881185,-97.191296
6,12080263000,522.0,NaN,RAGLAN,ROAD,522 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,376000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19105784468728 49.88097154...,49.881048,-97.191307
7,12080264000,NaN,NaN,RAGLAN,ROAD,RAGLAN ROAD,WOLSELEY,VRES1 - VACANT RESIDENTIAL 1,R2 - RES - TWO FAMILY,283000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19106840577483 49.88083471...,49.880911,-97.191317
8,12080264500,NaN,NaN,RAGLAN,ROAD,RAGLAN ROAD,WOLSELEY,VRES1 - VACANT RESIDENTIAL 1,R2 - RES - TWO FAMILY,230000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19107262988514 49.88077998...,49.880816,-97.191325
9,12080265000,1338.0,NaN,WOLSELEY,AVENUE,1338 WOLSELEY AVENUE,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,1385000.0,04/01/2023 12:00:00 AM,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19051852774297 49.87921209...,49.878845,-97.190766

#### Cleaning steps

In [186]:
# reformat headers

df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.lower()

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   roll_number              2671 non-null   int64
 1   street_number            2656 non-null   float64
 2   unit_number              148 non-null    object
 3   street_name              2664 non-null   object
 4   street_type              2655 non-null   object
 5   full_address             2664 non-null   object
 6   neighbourhood_area       2671 non-null   object
 7   property_use_code        2671 non-null   object
 8   zoning                   2523 non-null   object
 9   total_assessed_value     2656 non-null   float64
 10  assessment_date          2671 non-null   object
 11  detail_url               2671 non-null   object
 12  current_assessment_year  2671 non-null   int64
 13  status_1                 2656 non-null   object
 14  geometry                 2671 non-null   object
 15  centroid_lat             2671 non-null   float64
 16  centroid_lon             2671 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 354.9+ KB

In [188]:
# This is a fairly nicely maintained dataset! (I know this is the case because a former newspaper colleague is in charge of city open data now)

In [189]:
# Let's drop the time from the date column. It doesn't need to be a datetime format because I won't be analysing these dates

dates_clean = df['assessment_date'].str.replace("12:00:00 AM", "")
df['assessment_date'] = dates_clean

In [192]:
# Checking unique street name values

df.street_name.unique()

array(['PORTAGE', 'RAGLAN', 'WOLSELEY', 'CRAIG', 'STILES', 'TELFER',
       'CLIFTON', 'CAMDEN', 'NEWMAN', 'BASSWOOD', 'SPRAGUE', 'GREENWOOD',
       nan, 'DOMINION', 'PALMERSTON', 'GARFIELD', 'SHERBURN', 'AUBREY',
       'WESTMINSTER', 'LIPTON', 'LENORE', 'RUBY', 'EVANSON', 'ARLINGTON',
       'PRESTON', 'HOME', 'CANORA', 'ETHELBERT', 'HONEYMAN', 'PICARDY',
       'CHESTNUT', 'WALNUT', 'DUNDURN', 'WOODROW', 'MARYLAND', 'KNAPPEN',
       'FAWCETT', 'ALLOWAY', 'PURCELL', 'BROADWAY'], dtype=object)

In [191]:
# Want to drop Borrowman as that's just the highschool

df = df.drop(df[df['street_name'] ==  'BORROWMAN'].index)

#### ORGANIZING BY BLOCK

The unique data points for the garden analysis will be a single block in the format NNN block, TK street (i.e. 200 block, Arlington St).

First, I will need to organize the data into these unique blocks.

In [193]:
# Group by street name

by_street = df.street_name.value_counts().to_frame()

In [194]:
by_street

             count
street_name
HOME           150
WOLSELEY       138
LIPTON         133
LENORE         127
ARLINGTON      126
EVANSON        124
AUBREY         122
RUBY           119
SHERBURN       108
CHESTNUT       101
GARFIELD        90
WALNUT          88
PALMERSTON      81
DOMINION        74
CANORA          72
ETHELBERT       66
STILES          64
CRAIG           62
GREENWOOD       60
TELFER          59
MARYLAND        58
BASSWOOD        53
SPRAGUE         50
NEWMAN          50
PRESTON         49
PORTAGE         48
CAMDEN          48
WESTMINSTER     46
CLIFTON         45
FAWCETT         39
KNAPPEN         30
WOODROW         28
DUNDURN         27
PURCELL         27
HONEYMAN        26
ALLOWAY         25
RAGLAN          22
PICARDY         19
BROADWAY         9

It looks like the block by block divisions are a bit tricky to parse without analysing the map.

I do want to divide a few of the longer blocks by the major cross street, which I will do by looking at the map. 

The central streets (from W - E) where this applies are: Dominion, Garfield, Sherburn, Aubrey, Lipton, Ruby, Lenore, Evanson, Arlington, Home, Ethelbert, Canora, Chestnut and Walnut. These are streets with some of the highest counts. 

For each central street, there will be 2 divisions: 'north' for addresses north of Westminster and 'south' for those south of Westminster.

I am analysing in this way because I have a hypothesis that neighbourhoods further south and west have higher mean property values and easier access to boulevard gardens.

In [251]:
# For each central street, list property ranges for each cross street. 
# This will be a dictionary

block_ranges = [
    {
     'street_name': 'DOMINION','north': range(508,539),'south': range(441,506)
    },
    { 
   'street_name': 'GARFIELD', 'north':range(200,265),'south':range(104,163)
    },
     { 
    'street_name': 'SHERBURN', 'north':range(159,240),'south':range(33,156)
    },
      { 
    'street_name': 'AUBREY', 'north':range(248,329),'south':range(20,233)
    },
      { 
    'street_name': 'LIPTON', 'north':range(165,246),'south':range(11,162)
    },
      { 
    'street_name': 'RUBY', 'north':range(154,253),'south':range(2,134)
    },
      { 
    'street_name': 'LENORE', 'north':range(145,243), 'south':range(1,130)
    },
    { 
    'street_name': 'EVANSON', 'north':range(153,253),'south':range(6,145)
    },
    { 
    'street_name': 'ARLINGTON', 'north':range(144,258),'south':range(14,141)
    },
    { 
    'street_name': 'HOME', 'north':range(162,272),'south':range(32,160)
    },
    { 
    'street_name': 'ETHELBERT', 'north':range(160,227),'south':range(58,157)
    },
    { 
    'street_name': 'CANORA', 'north':range(145,249),'south':range(73,143)
    },
    { 
    'street_name': 'CHESTNUT', 'north':range(151,240),'south':range(58,135)
    },
    { 
    'street_name': 'WALNUT', 'north':range(134,229),'south':range(54,128)
    },
]

What I need to do is add an N or an S to the street_name column if the street_number value is in north or south range for that street (respectively). I think to start, I will add a N/S column of its own.

I then need a way to check the street number value against the dict that matches the street name value. 

This is definitely an occaision for RegEx, but I don't know how yet so will return. 

In the meantime, let's keep going by analyzing the by-block property values.

In [250]:
# A way to structure this:

# make a filter view for the street -> look at street_number -> between

# i.e. for Walnut N:
# df[df['street_name'] == 'WALNUT'].street_number.between(134,229)

# Then we would use a lambda:
# df['north_south'] = df[df['street_name'] == 'WALNUT'].street_number.between(134,229)

#df['street_name'] = 

# We need to be able to change the value for {street_name} and use the range as the between values

# I honestly might do it manually for now

#### Mean property value by block

In [252]:
df.head()

,roll_number,street_number,unit_number,street_name,street_type,full_address,neighbourhood_area,property_use_code,zoning,total_assessed_value,assessment_date,detail_url,current_assessment_year,status_1,geometry,centroid_lat,centroid_lon,property_use_description,north-south
0,12080201000,1430.0,NaN,PORTAGE,AVENUE,1430 PORTAGE AVENUE,WOLSELEY,PIRPK,PR1 - PRKS&REC-PASSIVE,3130000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19095901066672 49.87922629...,49.879843,-97.192867,PARK WITH BUILDING,NaN
1,12080240200,1420.0,NaN,PORTAGE,AVENUE,1420 PORTAGE AVENUE,WOLSELEY,PIICH,R2 - RES - TWO FAMILY,3144000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19158825669882 49.88158128...,49.881477,-97.191951,CHURCH,NaN
2,12080250500,NaN,NaN,RAGLAN,ROAD,RAGLAN ROAD,WOLSELEY,VRES1,R2 - RES - TWO FAMILY,518000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19107262988514 49.88077998...,49.880161,-97.191705,VACANT RESIDENTIAL 1,NaN
3,12080260000,542.0,NaN,RAGLAN,ROAD,542 RAGLAN ROAD,WOLSELEY,RESSD,R2 - RES - TWO FAMILY,305000.0,04/01/2023,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881459,-97.191275,DETACHED SINGLE DWELLING,NaN
4,12080261000,538.0,NaN,RAGLAN,ROAD,538 RAGLAN ROAD,WOLSELEY,RESSD,R2 - RES - TWO FAMILY,364000.0,04/01/2023,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881322,-97.191286,DETACHED SINGLE DWELLING,NaN

In [197]:
# Group by street name, look at total_assessed_value, find mean, display as a float with 2 decimals
df.groupby('street_name').total_assessed_value.mean().round(2)

street_name
ALLOWAY         402724.00
ARLINGTON       419880.95
AUBREY          321131.15
BASSWOOD        336867.92
BROADWAY        297000.00
CAMDEN          303333.33
CANORA          421541.67
CHESTNUT        364247.52
CLIFTON         407400.00
CRAIG           298048.39
DOMINION        409753.42
DUNDURN         368888.89
ETHELBERT       463909.09
EVANSON         364387.50
FAWCETT         241052.63
GARFIELD        356577.78
GREENWOOD       491183.33
HOME            359331.08
HONEYMAN        372961.54
KNAPPEN         263900.00
LENORE          392539.68
LIPTON          367646.62
MARYLAND        392214.29
NEWMAN          328520.00
PALMERSTON      602296.30
PICARDY         476263.16
PORTAGE        1595250.00
PRESTON         367750.00
PURCELL         348730.77
RAGLAN          502500.00
RUBY            374050.42
SHERBURN        338037.04
SPRAGUE         367240.00
STILES          294125.00
TELFER          307203.39
WALNUT          351522.73
WESTMINSTER     529630.43
WOLSELEY        768188.41
WOODROW         234370.37
Name: total_assessed_value, dtype: float64

In [198]:
# I want to assign this to the by_street dataframe

by_street['mean_property_value'] = df.groupby('street_name').total_assessed_value.mean().round(2)

In [199]:
by_street

             count  mean_property_value
street_name
HOME           150            359331.08
WOLSELEY       138            768188.41
LIPTON         133            367646.62
LENORE         127            392539.68
ARLINGTON      126            419880.95
EVANSON        124            364387.50
AUBREY         122            321131.15
RUBY           119            374050.42
SHERBURN       108            338037.04
CHESTNUT       101            364247.52
GARFIELD        90            356577.78
WALNUT          88            351522.73
PALMERSTON      81            602296.30
DOMINION        74            409753.42
CANORA          72            421541.67
ETHELBERT       66            463909.09
STILES          64            294125.00
CRAIG           62            298048.39
GREENWOOD       60            491183.33
TELFER          59            307203.39
MARYLAND        58            392214.29
BASSWOOD        53            336867.92
SPRAGUE         50            367240.00
NEWMAN          50            328520.00
PRESTON         49            367750.00
PORTAGE         48           1595250.00
CAMDEN          48            303333.33
WESTMINSTER     46            529630.43
CLIFTON         45            407400.00
FAWCETT         39            241052.63
KNAPPEN         30            263900.00
WOODROW         28            234370.37
DUNDURN         27            368888.89
PURCELL         27            348730.77
HONEYMAN        26            372961.54
ALLOWAY         25            402724.00
RAGLAN          22            502500.00
PICARDY         19            476263.16
BROADWAY         9            297000.00

In [200]:
by_street = by_street.rename(columns = {'count':'property_count'})

#### Residences vs. Businesses

I want to delineate between businesses and residential properties on each street, because the focus of the boulevard garden analysis is on residential properties.

In [201]:
df.head()

,roll_number,street_number,unit_number,street_name,street_type,full_address,neighbourhood_area,property_use_code,zoning,total_assessed_value,assessment_date,detail_url,current_assessment_year,status_1,geometry,centroid_lat,centroid_lon
0,12080201000,1430.0,NaN,PORTAGE,AVENUE,1430 PORTAGE AVENUE,WOLSELEY,PIRPK - PARK WITH BUILDING,PR1 - PRKS&REC-PASSIVE,3130000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19095901066672 49.87922629...,49.879843,-97.192867
1,12080240200,1420.0,NaN,PORTAGE,AVENUE,1420 PORTAGE AVENUE,WOLSELEY,PIICH - CHURCH,R2 - RES - TWO FAMILY,3144000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19158825669882 49.88158128...,49.881477,-97.191951
2,12080250500,NaN,NaN,RAGLAN,ROAD,RAGLAN ROAD,WOLSELEY,VRES1 - VACANT RESIDENTIAL 1,R2 - RES - TWO FAMILY,518000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19107262988514 49.88077998...,49.880161,-97.191705
3,12080260000,542.0,NaN,RAGLAN,ROAD,542 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,305000.0,04/01/2023,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881459,-97.191275
4,12080261000,538.0,NaN,RAGLAN,ROAD,538 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,364000.0,04/01/2023,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881322,-97.191286

In [202]:
# First let's look at the zoning column to see if there are clues we can use

df.zoning.unique()

array(['PR1 - PRKS&REC-PASSIVE', 'R2 - RES - TWO FAMILY',
       'C2 - COM - COMMUNITY', 'RMFL - RES - MULTI-FAMILY',
       'C1 - COM - NEIGHBOURHOOD', nan, 'RMFM - RES - MULTI-FAMILY'],
      dtype=object)

In [203]:
# And at the property_use_code

df.property_use_code.unique()

array(['PIRPK - PARK WITH BUILDING', 'PIICH - CHURCH',
       'VRES1 - VACANT RESIDENTIAL 1', 'RESSD - DETACHED SINGLE DWELLING',
       'CMOFF - OFFICE', 'CMRST - STORE',
       'RESMC - MULTIFAMILY CONVERSION',
       'RESSU - RESIDENTIAL SECONDARY UNIT',
       'RESMA - MULTIPLE ATTACHED UNITS',
       'CMVSR - VEHICLE SERVICE RELATED', 'RESDU - DUPLEX',
       'CMFBK - BANK', 'PIISC - SCHOOL', 'CMRCV - CONVENIENCE STORE',
       'CMRRE - RESTAURANT', 'REFRL - REFERENCE ROLL',
       'RESAP - APARTMENTS', 'CMSTP - STRIP MALL',
       'RESGC - RESIDENTIAL GROUP CARE', 'CMPSP - SURFACE PARKING',
       'RESMU - RESIDENTIAL MULTIPLE USE',
       'CMCMU - COMMERCIAL MULTIPLE USE', 'PIRCC - COMMUNITY CENTRE',
       'RESTR - TRIPLEX', 'CNCMP - CONDO COMPLEX',
       'CNRES - CONDO RESIDENTIAL', 'CMOMC - MEDICAL OFFICE CLINIC',
       'RESAM - APARTMENTS MULTIPLE USE',
       'PIIGC - NON-RESIDENTIAL GROUP CARE',
       'CMMRH - COMMERCIAL ROW HOUSE',
       'RESMB - RESIDENTIAL MULTIPLE BUILDINGS', 'PIIDC - DAY CARE',
       'RESSS - SIDE BY SIDE', 'RESRM - ROOMING HOUSE',
       'VRES2 - VACANT RESIDENTIAL 2', 'CMOGV - GOVERNMENT OFFICE',
       'CNAPT - CONDO APARTMENT', 'CNCOM - CONDO COMMERCIAL'],
      dtype=object)

In [204]:
# The use codes are more informative. 

# Residential codes include: 
# 'VRES1 - VACANT RESIDENTIAL 1',
# 'RESSD - DETACHED SINGLE DWELLING',
# 'RESMC - MULTIFAMILY CONVERSION',
# 'RESSU - RESIDENTIAL SECONDARY UNIT',
# 'RESMA - MULTIPLE ATTACHED UNITS',
# 'RESDU - DUPLEX',
# 'RESAP - APARTMENTS',
# 'RESTR - TRIPLEX',
# 'CNRES - CONDO RESIDENTIAL',
# 'RESAM - APARTMENTS MULTIPLE USE',
# 'RESMB - RESIDENTIAL MULTIPLE BUILDINGS',
# 'RESSS - SIDE BY SIDE', 
# 'RESRM - ROOMING HOUSE',
# 'VRES2 - VACANT RESIDENTIAL 2',
# 'CNAPT - CONDO APARTMENT',
     
# With the exception of CNAPT (eye roll) we can use str.contains('RES') or some similar with RegEx

In [205]:
df.head()

,roll_number,street_number,unit_number,street_name,street_type,full_address,neighbourhood_area,property_use_code,zoning,total_assessed_value,assessment_date,detail_url,current_assessment_year,status_1,geometry,centroid_lat,centroid_lon
0,12080201000,1430.0,NaN,PORTAGE,AVENUE,1430 PORTAGE AVENUE,WOLSELEY,PIRPK - PARK WITH BUILDING,PR1 - PRKS&REC-PASSIVE,3130000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19095901066672 49.87922629...,49.879843,-97.192867
1,12080240200,1420.0,NaN,PORTAGE,AVENUE,1420 PORTAGE AVENUE,WOLSELEY,PIICH - CHURCH,R2 - RES - TWO FAMILY,3144000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19158825669882 49.88158128...,49.881477,-97.191951
2,12080250500,NaN,NaN,RAGLAN,ROAD,RAGLAN ROAD,WOLSELEY,VRES1 - VACANT RESIDENTIAL 1,R2 - RES - TWO FAMILY,518000.0,04/01/2023,http://www.winnipegassessment.com/asmtpub/engl...,2026,EXEMPT,MULTIPOLYGON (((-97.19107262988514 49.88077998...,49.880161,-97.191705
3,12080260000,542.0,NaN,RAGLAN,ROAD,542 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,305000.0,04/01/2023,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881459,-97.191275
4,12080261000,538.0,NaN,RAGLAN,ROAD,538 RAGLAN ROAD,WOLSELEY,RESSD - DETACHED SINGLE DWELLING,R2 - RES - TWO FAMILY,364000.0,04/01/2023,http://www.winnipegassessment.com/AsmtPub/engl...,2026,TAXABLE,MULTIPOLYGON (((-97.19102616382078 49.88138204...,49.881322,-97.191286

In [206]:
# First I want to split the property use code into the 5 letter code and description

df['property_use_description'] = df.property_use_code.str.split(" - ").str[1]

In [207]:
df['property_use_code'] = df.property_use_code.str.split(" - ").str[0]

In [231]:
# Now we can look specifically at the use code and count if it contains 'RES' or 'CNAPT'

df.groupby('street_name')['property_use_code'].apply(lambda code: (code.str.contains('RES'or'CNAPT')).sum())

street_name
ALLOWAY         25
ARLINGTON      124
AUBREY         121
BASSWOOD        53
BROADWAY         9
CAMDEN          48
CANORA          72
CHESTNUT       101
CLIFTON         44
CRAIG           62
DOMINION        69
DUNDURN         27
ETHELBERT       65
EVANSON        122
FAWCETT         24
GARFIELD        90
GREENWOOD       60
HOME           111
HONEYMAN        25
KNAPPEN         30
LENORE         126
LIPTON         133
MARYLAND        42
NEWMAN          50
PALMERSTON      80
PICARDY         18
PORTAGE          0
PRESTON         11
PURCELL         26
RAGLAN          22
RUBY           119
SHERBURN       108
SPRAGUE         50
STILES          64
TELFER          58
WALNUT          87
WESTMINSTER     36
WOLSELEY       133
WOODROW          7
Name: property_use_code, dtype: int64

In [232]:
# Surprisingly, this makes sense and worked??

by_street['residential_count'] = df.groupby('street_name')['property_use_code'].apply(lambda code: (code.str.contains('RES')).sum())

In [233]:
# I want to re-order the columns and convert this to a percent of total count

by_street['percent_residential'] = (by_street['residential_count']/by_street['property_count']).round(2)
by_street

,mean_property_value,property_count,percent_residential,residential_count
street_name,,,,
HOME,359331.08,150,0.74,111
WOLSELEY,768188.41,138,0.96,133
LIPTON,367646.62,133,1.00,133
LENORE,392539.68,127,0.99,126
ARLINGTON,419880.95,126,0.98,124
EVANSON,364387.50,124,0.98,122
AUBREY,321131.15,122,0.99,121
RUBY,374050.42,119,1.00,119
SHERBURN,338037.04,108,1.00,108
CHESTNUT,364247.52,101,1.00,101
GARFIELD,356577.78,90,1.00,90
WALNUT,351522.73,88,0.99,87
PALMERSTON,602296.30,81,0.99,80
DOMINION,409753.42,74,0.93,69
CANORA,421541.67,72,1.00,72
ETHELBERT,463909.09,66,0.98,65
STILES,294125.00,64,1.00,64
CRAIG,298048.39,62,1.00,62
GREENWOOD,491183.33,60,1.00,60
TELFER,307203.39,59,0.98,58
MARYLAND,392214.29,58,0.72,42
BASSWOOD,336867.92,53,1.00,53
SPRAGUE,367240.00,50,1.00,50
NEWMAN,328520.00,50,1.00,50
PRESTON,367750.00,49,0.22,11
PORTAGE,1595250.00,48,0.00,0
CAMDEN,303333.33,48,1.00,48
WESTMINSTER,529630.43,46,0.78,36
CLIFTON,407400.00,45,0.98,44
FAWCETT,241052.63,39,0.62,24
KNAPPEN,263900.00,30,1.00,30
WOODROW,234370.37,28,0.25,7
DUNDURN,368888.89,27,1.00,27
PURCELL,348730.77,27,0.96,26
HONEYMAN,372961.54,26,0.96,25
ALLOWAY,402724.00,25,1.00,25
RAGLAN,502500.00,22,1.00,22
PICARDY,476263.16,19,0.95,18
BROADWAY,297000.00,9,1.00,9

In [234]:
by_street = by_street.reindex(columns =['mean_property_value','property_count','residential_count','percent_residential'])

In [235]:
by_street

,mean_property_value,property_count,residential_count,percent_residential
street_name,,,,
HOME,359331.08,150,111,0.74
WOLSELEY,768188.41,138,133,0.96
LIPTON,367646.62,133,133,1.00
LENORE,392539.68,127,126,0.99
ARLINGTON,419880.95,126,124,0.98
EVANSON,364387.50,124,122,0.98
AUBREY,321131.15,122,121,0.99
RUBY,374050.42,119,119,1.00
SHERBURN,338037.04,108,108,1.00
CHESTNUT,364247.52,101,101,1.00
GARFIELD,356577.78,90,90,1.00
WALNUT,351522.73,88,87,0.99
PALMERSTON,602296.30,81,80,0.99
DOMINION,409753.42,74,69,0.93
CANORA,421541.67,72,72,1.00
ETHELBERT,463909.09,66,65,0.98
STILES,294125.00,64,64,1.00
CRAIG,298048.39,62,62,1.00
GREENWOOD,491183.33,60,60,1.00
TELFER,307203.39,59,58,0.98
MARYLAND,392214.29,58,42,0.72
BASSWOOD,336867.92,53,53,1.00
SPRAGUE,367240.00,50,50,1.00
NEWMAN,328520.00,50,50,1.00
PRESTON,367750.00,49,11,0.22
PORTAGE,1595250.00,48,0,0.00
CAMDEN,303333.33,48,48,1.00
WESTMINSTER,529630.43,46,36,0.78
CLIFTON,407400.00,45,44,0.98
FAWCETT,241052.63,39,24,0.62
KNAPPEN,263900.00,30,30,1.00
WOODROW,234370.37,28,7,0.25
DUNDURN,368888.89,27,27,1.00
PURCELL,348730.77,27,26,0.96
HONEYMAN,372961.54,26,25,0.96
ALLOWAY,402724.00,25,25,1.00
RAGLAN,502500.00,22,22,1.00
PICARDY,476263.16,19,18,0.95
BROADWAY,297000.00,9,9,1.00

### LET'S LOOK AT 311 DATA

This csv is the open data records for non standard boulevard treatment permit/complaint calls

In [264]:
calls = pd.read_csv("311_Requests_20250623.csv")

In [265]:
calls.head()

,Case ID,Interaction ID,Channel Type,Subject,Reason,Type,Open Date,Closed Date,Case Status,Neighbourhood,Ward,Geometry
0,b624a11dfbe78dd9bac4f73d47853212f630788bf17553...,101007513226,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,07/29/2014 10:08:00 AM,08/13/2014 03:57:00 PM,Closed,Rossmere-A,North Kildonan,POINT (-97.080027952969 49.937462927133)
1,b631c4682f23bdeadd5423eeb221202cea7212bdf0fa8d...,101007536062,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,08/06/2014 06:45:00 AM,11/09/2020 08:30:00 AM,Closed,Norwood West,St. Boniface,POINT (-97.128179551796 49.872335352138)
2,829a6a4c02c91e73894a50306c872036b103bf5781440b...,101014415676,e-mail In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,02/18/2022 01:56:00 PM,03/02/2022 09:04:00 AM,Closed,Glenwood,St. Vital,POINT (-97.099616732769 49.866573418607)
3,a64e26f0e7faad3736194c1acfc9f67d06a5aa26c99d96...,101015360176,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,07/07/2023 10:05:00 AM,07/07/2023 10:19:00 AM,Closed,Canterbury Park,Transcona,POINT (-96.969761061119 49.901049790875)
4,3a8d31738239b6fd8aef252cc3c39e481071fd15f47f50...,101015481949,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,09/06/2023 02:08:00 PM,10/03/2023 10:55:00 AM,Closed,Valley Gardens,Elmwood - East Kildonan,POINT (-97.066770892378 49.923760255808)

In [272]:
calls.columns = calls.columns.str.lower()
calls.columns = calls.columns.str.replace(' ','_')

In [280]:
calls.neighbourhood.value_counts().head(10)

neighbourhood
Grassie                26
Wolseley               18
North River Heights    16
Jefferson              13
Assiniboia Downs       12
Fort Richmond          11
River Park South       10
South Pointe           10
Amber Trails           10
Norwood East            8
Name: count, dtype: int64

In [279]:
calls.neighbourhood.unique()

array(['Rossmere-A', 'Norwood West', 'Glenwood', 'Canterbury Park',
       'Valley Gardens', 'Sargent Park', 'Linden Woods', 'Glenelm',
       'Civic Centre', 'Templeton-Sinclair', 'Westwood', 'Rossmere-B',
       'St. James Industrial', 'Inkster-Faraday', 'Tyndall Park',
       'Whyte Ridge', 'Fort Richmond', 'Kirkfield', 'East Elmwood',
       'Dakota Crossing', 'Fraipont', 'Minnetonka', 'River East',
       'King Edward', 'Munroe East', 'Island Lakes', 'Prairie Pointe',
       'Polo Park', 'Riverbend', 'Wolseley', nan, 'Heritage Park',
       'Luxton', 'North St. Boniface', 'Kern Park', 'Exchange District',
       'West Broadway', 'Waverley Heights', 'Roslyn', 'Royalwood',
       'Richmond West', 'Elm Park', 'Riverview', 'Deer Lodge',
       'Kildonan Drive', "Omand's Creek Industrial", 'Vialoux',
       'Bridgwater Forest', 'North River Heights', 'Lord Roberts',
       'Bruce Park', 'J. B. Mitchell', 'Ridgewood South',
       'River Park South', 'Crescent Park', 'North Point Douglas',
       'St. Matthews', 'West Kildonan Industrial', 'Crescentwood',
       'Rockwood', 'Robertson', 'Point Road', 'Pulberry',
       'South Point Douglas', 'Tuxedo', 'Weston Shops', 'Earl Grey',
       'Minto', 'Mcmillan', 'Garden City', 'William Whyte', 'Maybank',
       'Meadows', 'Jefferson', 'Southdale', 'Centennial', 'Seven Oaks',
       'Margaret Park', "St. John's", 'Norwood East', 'South Pointe',
       'Dufferin Industrial', 'Portage & Main', 'Springfield North',
       'Glendale', 'Eaglemere', 'Daniel Mcintyre', 'Sir John Franklin',
       'Marlton', 'Amber Trails', 'Buchanan', 'Grassie', 'Mandalay West',
       'Weston', 'South Tuxedo', 'Niakwa Place', 'Transcona Yards',
       'Valhalla', 'Normand Park', "St. John's Park", 'Sage Creek',
       'Westdale', 'Dufresne', 'Roblin Park', 'Regent', 'West Alexander',
       'St. George', 'St. Boniface Industrial Park', 'Inkster Gardens',
       'Windsor Park', 'Central Park', 'Bridgwater Lakes', 'Archwood',
       'Burrows-Keewatin', 'Victoria West', 'The Maples',
       'Broadway-Assiniboine', 'Norberry', 'Edgeland', 'Elmhurst',
       'Crestview', 'Central River Heights', 'Ebby-Wentworth',
       'Fairfield Park', 'Beaumont', 'Melrose', 'Wellington Crescent',
       'Meadowood', 'Lord Selkirk Park', 'Sturgeon Creek', 'Southboine',
       'Assiniboia Downs', 'Rivergrove', 'Holden', 'Betsworth',
       'River-Osborne', 'Varennes', 'Peguis', 'Mission Gardens',
       'Woodhaven', 'Central St. Boniface', 'Mathers', 'Talbot-Grey',
       'North Inkster Industrial', 'Oak Point Highway', 'Chalmers',
       'South River Heights', 'Mynarski', 'Leila North', 'St. Norbert',
       'Burrows Central', 'Alpine Place', 'Rosser-Old Kildonan',
       'Springfield South', 'St. Vital Perimeter South',
       'Kildare-Redonda', 'Daniel McIntyre'], dtype=object)

In [278]:
# From this, we see Wolseley has the second most boulevard complaints

In [281]:
wolseley_311 = calls[calls['neighbourhood'] == 'Wolseley']

In [282]:
wolseley_311

,case_id,interaction_id,channel_type,subject,reason,type,open_date,closed_date,case_status,neighbourhood,ward,geometry
41,c95baae5c63ec9292da746b22afcca047b893504145374...,101014270108,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,11/19/2021 03:11:00 PM,11/23/2021 02:02:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.176111728881 49.884604918653)
51,3d7642a00515fe2e89c561e6fe93d9a49b82044830b03d...,101013890764,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,03/15/2021 10:01:00 PM,03/17/2021 12:48:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.16803154913 49.882093109131)
78,9b57f4d5a03b1c30c9f38c17bce98981b7acb50425d7dd...,101015294209,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/05/2023 03:08:00 PM,06/06/2023 10:33:00 AM,Closed,Wolseley,Daniel McIntyre,POINT (-97.169053529024 49.880112888139)
82,7abff00a2e545f9285ddc7645a5ad8d59ea7b3e362b9a5...,101015435676,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,08/15/2023 11:25:00 AM,08/15/2023 12:32:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.17594907281 49.882920582057)
89,b5c9f02dc23fff65048cd62c710b29fd2091dcb21ef227...,101014244595,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,11/02/2021 11:32:00 AM,11/07/2022 01:54:35 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.189189493465 49.881376329812)
160,2688bb28d5dad41410cdf9899da4b46e58167112dd56f4...,101013630938,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,10/20/2020 08:38:00 AM,11/04/2020 02:45:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.176217947793 49.879745787597)
289,8d07f32bacd92124cd835c7ce2a28b0898422db4fefcc1...,101012360555,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/18/2019 09:41:00 AM,09/04/2019 11:44:00 AM,Closed,Wolseley,Daniel McIntyre,POINT (-97.171196177144 49.880868846293)
290,8d1c95130c0697020716749b488666695bfa19cc5c44ee...,101012363192,Social Media,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/18/2019 07:49:00 PM,08/28/2019 03:58:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.172087314115 49.879762102932)
305,976b363703e2c3581757506cf70f34a1cc1e6bb1c72898...,101006497350,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,10/15/2013 11:59:10 AM,10/22/2013 08:44:45 AM,Closed,Wolseley,Daniel McIntyre,POINT (-97.167485138743 49.878401924251)
356,d66600f3b238f1f9fc15accfb392bfe359fa4cdc158ec0...,101013661643,e-mail In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,11/04/2020 01:17:00 PM,11/04/2020 02:44:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.176625378847 49.880099021313)
398,f3bb84d361ed8ebb44ed2bf1a629ee143681b8e92a4503...,101012789623,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,10/30/2019 08:03:00 PM,10/27/2020 02:28:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.177581434381 49.878789873013)
399,f3bb84d361ed8ebb44ed2bf1a629ee143681b8e92a4503...,101013222049,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,10/30/2019 08:03:00 PM,10/27/2020 02:28:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.175753216049 49.878818566216)
488,810793c64b9100d144bbd09a5583ea33466e3ee5d83501...,101015315265,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/15/2023 11:28:00 AM,01/21/2025 02:59:00 PM,Closed,Wolseley,Daniel McIntyre,POINT (-97.16079126149839 49.88443487432688)
523,5790ce089db7fe5744f372ec0b23b8e6b8296ddcea8cc9...,101014063478,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/26/2021 09:22:00 AM,NaN,In-Progress,Wolseley,Daniel McIntyre,POINT (-97.16535871650427 49.87945885191765)
527,59fdf7a2ae373200f45b2b18322a4e288d6e7247dcfa07...,101014668272,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/25/2022 12:14:00 AM,NaN,In-Progress,Wolseley,Daniel McIntyre,POINT (-97.18857131426078 49.880553089421305)
548,27b6f639b44f615725e99628fd02fc22fdd9992bc7e7e8...,101016000858,e-mail In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,06/01/2024 05:26:00 PM,NaN,Open,Wolseley,Daniel McIntyre,POINT (-97.17233176147275 49.88265031242634)
549,833ce3a5e98a9b906aeffd08ff65b1d3d11d85b70d9a2d...,101016398234,Voice In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,12/09/2024 02:42:00 PM,NaN,Open,Wolseley,Daniel McIntyre,POINT (-97.17414183917857 49.88381546004609)
551,0959a0e98ef24c994578a0d46e92868f4d4ea361d4bf67...,101016687056,e-mail In,Service Request,Public Works,Non Standard Boulevard Treatment Permit/Complaint,05/02/2025 09:13:00 PM,NaN,Open,Wolseley,Daniel McIntyre,POINT (-97.16855428208653 49.88319947526576)

#### BY-LAW ENFORCEMENT

In [283]:
bylaws = pd.read_csv("By-Law_Investigations_20250623.csv")

In [284]:
bylaws.head()

,Folder RSN,Folder Status,Indate,Month,End Date,Complaint Source,NBHD Number,Complaint Type 1,Complaint Type 2,Complaint Type 3,Orders Generated,Number of No Folders,Ward
0,1128256,Closed,06/08/2015,JUN,06/09/2015,311 Complaint,WOLSELEY,Vegetation,Weeds,NaN,Yes,1,Daniel McIntyre
1,1129988,Closed,06/14/2015,JUN,06/18/2015,311 Complaint,WOLSELEY,Vegetation,NaN,NaN,Yes,1,Daniel McIntyre
2,1130334,Closed,06/15/2015,JUN,06/17/2015,311 Complaint,WOLSELEY,Vegetation,Weeds,NaN,Yes,1,Daniel McIntyre
3,1132081,Closed,06/22/2015,JUN,06/22/2015,City-CBES,WOLSELEY,Vegetation,InteriorDefects,NaN,Yes,3,Daniel McIntyre
4,1132577,Closed,06/23/2015,JUN,06/24/2015,311 Complaint,WOLSELEY,Vegetation,NaN,NaN,Yes,1,Daniel McIntyre

In [286]:
bylaws.columns = bylaws.columns.str.replace(' ','_')
bylaws.columns = bylaws.columns.str.lower()
bylaws

,folder_rsn,folder_status,indate,month,end_date,complaint_source,nbhd_number,complaint_type_1,complaint_type_2,complaint_type_3,orders_generated,number_of_no_folders,ward
0,1128256,Closed,06/08/2015,JUN,06/09/2015,311 Complaint,WOLSELEY,Vegetation,Weeds,NaN,Yes,1,Daniel McIntyre
1,1129988,Closed,06/14/2015,JUN,06/18/2015,311 Complaint,WOLSELEY,Vegetation,NaN,NaN,Yes,1,Daniel McIntyre
2,1130334,Closed,06/15/2015,JUN,06/17/2015,311 Complaint,WOLSELEY,Vegetation,Weeds,NaN,Yes,1,Daniel McIntyre
3,1132081,Closed,06/22/2015,JUN,06/22/2015,City-CBES,WOLSELEY,Vegetation,InteriorDefects,NaN,Yes,3,Daniel McIntyre
4,1132577,Closed,06/23/2015,JUN,06/24/2015,311 Complaint,WOLSELEY,Vegetation,NaN,NaN,Yes,1,Daniel McIntyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,2551959,Closed,07/30/2024,JUL,07/30/2024,City-CBES,WOLSELEY,Vegetation,NaN,NaN,Yes,1,Daniel McIntyre
195,2553077,Closed,07/31/2024,JUL,08/02/2024,City-CBES,WOLSELEY,Vegetation,NaN,NaN,Yes,1,Daniel McIntyre
196,2562905,Closed,08/13/2024,AUG,10/22/2024,311 Complaint,WOLSELEY,Vegetation,NaN,NaN,No,0,Daniel McIntyre
197,2572642,Closed,08/26/2024,AUG,10/17/2024,311 Complaint,WOLSELEY,Vegetation,Weeds,NaN,Yes,2,Daniel McIntyre
198,2645316,Closed,11/16/2024,NOV,NaN,311 Complaint,WOLSELEY,Vegetation,NaN,NaN,No,0,Daniel McIntyre

In [288]:
# How many wolseley vegetation complaints by 311 vs city staff

bylaws.complaint_source.value_counts()

complaint_source
311 Complaint    128
City-CBES         71
Name: count, dtype: int64

In [289]:
# How many generated orders

bylaws.orders_generated.value_counts()

orders_generated
Yes    130
No      69
Name: count, dtype: int64

In [290]:
bylaws.groupby('complaint_source').orders_generated.value_counts()

complaint_source  orders_generated
311 Complaint     Yes                 76
                  No                  52
City-CBES         Yes                 54
                  No                  17
Name: count, dtype: int64